<div class="join" style="display: none">
    <form id="join-form" method="POST" role="form">
        <fieldset>
            <legend>Your Details</legend>

            <div class="form-group">
                <div class="form-control-wrapper">
                    <input class="form-control empty" type="text" name="fullname"/>
                    <div class="hint">Letter and numbers only, up to 32 characters</div>
                    <div class="floating-label">Name</div>
                    <span class="material-input"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="form-control-wrapper">
                    <input class="form-control empty" type="email" name="email"/>
                    <div class="hint">Used to retrieve your avatar from Gravatar, no spam!</div>
                    <div class="floating-label">Email</div>
                    <span class="material-input"></span>
                </div>
            </div>
        </fieldset>

        <button class="btn btn-primary" type="submit"><i class="fa fa-floppy-o"></i> Save</button>
    </form>
</div>